@inherits LayoutComponentBase

<div class="container">
  <div class="card border-info">

    <header>
      <div class="card-header bg-light text-center">
        <h1>Currency Converter</h1>
      </div>
    </header>

    <main>
      <div class="card-body">
        @Body
      </div>
    </main>

    <footer>
      <div class="card-footer text-center">
        <div>&copy; 2023 - SWK5 (FH Hagenberg)</div>
      </div>
    </footer>

  </div>
</div>

