@page "/"

@if (currencies is null)
{
    <p>Loading ... </p>
} 
else
{
    <div class="row">
        <InputNumber @bind-Value="sourceValue" />
    </div>
    <div class="row">
        <table id="currency-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Target Value</th>
                    @*<th>Action</th>*@
                </tr>
            </thead>

            <tbody>
                @foreach (var currency in currencies)
                {
                    <tr>
                        <td class="align-middle">@currency.Symbol</td>
                        <td class="align-middle">@currency.Name</td>
                        <td class="align-middle">@currency.Country</td>
                        <td class="align-middle">
                            <span class="badge badge-outline pe-2 fixed-width text-end">
                                @((currency.EuroRate * sourceValue).ToString("F2"))
                            </span>
                        </td>
                        @*
                <td class="align-middle">
                <a href="" class="btn btn-primary btn-sm text-light" role="button">
                <span class="oi oi-pencil"></span>
                </a>
                </td>
                *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}